<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      I<span class="es-d">D</span>
    </ion-title>
    <!-- <ion-buttons slot="end">
        <ion-button >
          <ion-icon shape="round" name="more"></ion-icon>
        </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/imagenes/metas.jpg"></ion-img>
      <ion-card-content>
        <ion-chip (click)="presentPopover()">
          <ion-avatar>
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          </ion-avatar>
          <ion-label>{{ user.full_name }}
              <!-- ({{ user.email }}) -->
            </ion-label>
        </ion-chip>
        <p>Bienvenido a ID, ahora puedrás llevar un mejor control de los estudios bíblicos y visitas que realízas.
        </p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header color="light">
        <ion-label>Módulos</ion-label>
      </ion-list-header>
      <ion-item [routerLink]="['../mis-estudios']">
        <ion-icon slot="start" color="medium" name="bookmarks"></ion-icon>
        <ion-label>Estudios Bíblicos</ion-label>
      </ion-item>
      <ion-item [routerLink]="['../mis-visitas']" >
        <ion-icon slot="start" color="medium" name="checkbox"></ion-icon>
        <ion-label>Visitación y pastoreo</ion-label>
      </ion-item>
    </ion-list>
</ion-content>